<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<header id="cabezera">
    <img src="https://http2.mlstatic.com/frontend-assets/ml-web-navigation/ui-navigation/6.2.1/mercadolibre/logo__large_plus.png" id = "imagenCabezera">
    <input type="text" name="buscador" id="buscador" placeholder="Buscar productos">
    <img src="https://http2.mlstatic.com/D_NQ_957153-MLA69318147677_052023-OO.webp" id="imagenDisney">
    
</header>

<nav id = "navegador">
    <ul id="nameNav" class="menuHorizontal">
        <li>
         <a>Categorias</a>
         <ol class = "menuVertical">
             <li><a href="#">Vehiculos</a></li> 
             <li><a href="#">Inmbuebles</a></li> 
             <li><a href="#">Juegos</a></li> 
             <li><a href="#">Calzados</a></li> 
             <li><a href="#">Electronica</a></li> 
         </ol>
        </li>
        <li><a>Ofertas</a></li> 
        <li><a>Historial</a></li>
        <li><a>Vender</a></li>
        <li><a>Ayuda</a></li>
        <li><a href="login.html" class="links">Iniciar Sesion</a></li>
        <li><a href="register.html" class="links">Registrarse</a></li>
    </ul>
</nav>

<section id="bannerCarrusel">

    <ul>
        <li><img src = "img/celular.webp" alt="" id="img1"></li>
        <li><img src = "img/finde.webp" alt="" id="img2"></li>
        <li><img src = "img/juguetes.webp" alt="" id="img3"></li>
        <li><img src = "img/niñes.webp" alt="" id="img4"></li>
    </ul>

</section>

<section id="productos">

    <ul id="p1" class="hov">
        <li><img src="img/creatina.jpg"></li>
        <li><a id="precio">$ 15.000</a></li>
        <li><a id="descripcion">Creatina/antes de entrenar</a></li>
    </ul>

    <ul id="p2" class="hov">
        <li><img src="img/humificador.webp"></li>
        <li><a id="precio">$ 5.000</a></li>
        <li><a id="descripcion">Purifica tu ambiente</a></li>
    </ul >

    <ul id="p3" class="hov">
        <li><img src="img/proteina.webp"></li>
        <li><a id="precio">$ 16.000</a></li>
        <li><a id="descripcion">Proteina/después de entrenar</a></li>
    </ul>

    <ul id="p4" class="hov">
        <li><img src="img/t9.webp"></li>
        <li><a id="precio">$ 4.000</a></li>
        <li><a id="descripcion">Recortadora de cabello/barba</a></li>
    </ul>

    <ul id="p5" class="hov">
        <li><img src="img/crema.jpg"></li>
        <li><a id="precio">$ 5.000</a></li>
        <li><a id="descripcion">Locion/crema Corporal</a></li>
    </ul>

    <ul id="p6" class="hov">
        <li><img src="img/bolso.webp"></li>
        <li><a id="precio">$ 10.000</a></li>
        <li><a id="descripcion">Bolso/Maletin reforzado</a></li>
    </ul>

    <ul id="p7" class="hov">
        <li><img src="img/cuchillos.webp"></li>
        <li><a id="precio">$ 12.000</a></li>
        <li><a id="descripcion">Set de cuchillos chef</a></li>
    </ul>

    <ul id="p8" class="hov">
        <li><img src="img/pistola.webp"></li>
        <li><a id="precio">$ 30.000</a></li>
        <li><a id="descripcion">Pistola Co2</a></li>
    </ul>

</section>

<footer id="piedepagina">
    <section id="footerIzquierda">
     <ul >
         <li><img id ="game" src="https://http2.mlstatic.com/frontend-assets/ml-web-navigation/ui-navigation/6.2.1/mercadolibre/logo__large_plus.png"></li>
         <li><a class="links" href="mailto:rodrigoagust7@gmail.com">Correo Electronico</a></li>
         <li><a class="links" href="tel:123456789">Telefono</a></li>
         <li><a class="links" href="https://goo.gl/maps/41NGqypQEtESgsGr9" target="_blank">Ubicacion</a></li>
     </ul>
    </section> 
    <section id="footerMedio">
     <p id="textoDescarga">Descarga la app Mercado Liebre</p>
     <ul>
        <li><a href="https://play.google.com/store/games?device=windows" target="_blank"><img id="logofooterA" src="img/appStore.png"></a></li>
        <li><a href="https://www.apple.com/app-store/" target="_blank"><img id="logofooterG" src="img/googlePlay.png"></a></li>
    </ul>
    <p>Copyright ⓒ 2023 Mercado Liebre</p>
    </section>
    <section id="footerDerecha">
      <ul>
        <p>Bienvenido a nuestra pagina de compra/ventas, disfrute su tiempo aqui.</p>
        <li><a href="https://www.facebook.com/" target="_blank"><img id="redes" src="img/facebook.png"></a></li>
        <li><a href="https://www.instagram.com/" target="_blank"><img id="redes" src="img/instagram.png"></a></li>
        <li><a href="https://twitter.com/" target="_blank"><img id="redes" src="img/twitter.png"></a></li>
      </ul>
        
    </section>
</footer>

<body>
    
</body>
</html>